<aside class="main-sidebar" aria-hidden="true">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">主导航</li>
			<li class="active treeview">
				<a href="/admin/">
					<i class="fa fa-dashboard"></i> <span>仪表盘</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="active"><a href="/admin/"><i class="fa fa-circle-o"></i>欢迎</a></li>
				</ul>
			</li> 
			<li>
				<a href="/admin/posts/">
					<i class="fa fa-table"></i><span>文章</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>